<phpunit>
  <testsuites>
    <testsuite name="yuki-testsuite">
      <directory>tests/src/file</directory>
      <directory>tests/src/forms</directory>
      <directory>tests/src/html</directory>
      <directory>tests/src/request</directory>
      <directory>tests/src/uri</directory>
    </testsuite>
  </testsuites>
</phpunit>